$display: 'Josefin Sans', 'Open Sans', sans-serif;
$code: 'Source Code Pro', 'monospace';

body {
  font-size: 18px; // 18px
  line-height: 1.25em;
  font-family: $display;
  // font-weight: 300;
  font-weight: 600;
}

nav h1 {
  font-size: 1.75em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  letter-spacing: 3px;
  // font-weight: 400;
  font-weight: 700;
}

main h1 {
  font-size: 1.75em; //31.5px = 1.75em
  font-family: $display;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto 1em;
  font-style: italic;
  // font-weight: 400;
  font-weight: 600;
}

h2 {
  font-family: $display;
  font-style: italic;
  font-size: 1.25em;
  line-height: 1.25em;
  padding-top: 0.6em;
  padding-bottom: 1em;
  font-weight: 700;
}

h3 {
  font-family: $display;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
}

main {
  //font-size: 18px;
  letter-spacing: 0.75px;
}

nav .menu {
  font-size: 0.93em; //16.8px = 0.93
  font-family: $display;
  text-transform: uppercase;
}

footer .credit {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

.ital {
  font-style: italic;
}

code {
  font-family: $code;
}
