<head>
  <title>{{ .Site.Title }} | {{ .Title }}</title>
  {{ partial "meta.html" . }}

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseUrl }}/css/styles.css">
  <!-- font -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400' rel='stylesheet' type='text/css'> -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ .Site.BaseUrl }}/images/icon.png" />
</head>
